<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/material.min.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="/js/util.js" type="text/javascript"></script>
    <script src="/js/material.min.js" type="text/javascript"></script>
    <script src="/vue/vue.global.js" type="text/javascript"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
