<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/util.js" type="text/javascript"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
