.mdl-textfield__input:disabled {
  font-weight: lighter;
  color:#ccc;
}

div.mdl-textfield {
  padding: 0;
}

.mdl-card {
  margin: 40px;
}

.action-menu {
  display: flex;
  padding-left: 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.link {
  color: #3f51b5
}

.spinner {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 16px;
  height: 16px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 3px 16px 3px 3px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* select starting stylings ------------------------------*/
.select {
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
	width: 350px;
}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 350px;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.753);
	pointer-events: none;
}

a {
  color: #00B7FF;
  cursor: pointer;
}
form {
  /* Form outline */
  padding: 1em;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 250px;
  font-size: smaller;
  font-weight: bolder;
}

label.disabled {
  font-weight: lighter;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 500px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}


.error {
  color: red;
  font-weight: bold;
}

.checkbox {
  width: 20px;
}

.tooltip {
  display:inline-block;
  position:relative;
  text-align:left;
}

.tooltip .tip {
  min-width:400px;
  top:-20px;
  left:150px;
  transform:translate(-50%, -100%);
  padding:10px 20px;
  color:#444444;
  background-color:#EEEEEE;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}

.tooltip:hover .tip {
  display:block;
}

.tooltip .tip i {
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .tip i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color:#EEEEEE;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.advanced {
  display: none;
}

#showAdvanced:hover {
  cursor: pointer;
  font-weight: bold;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 8px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.selected {
  background-color: #ccc;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  background-color: white;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.app-container {
  display: flex;
  flex-direction: row
}

.project-details-grid {
  padding-top: 0; 
  padding-bottom: 0;
}

.project-details-grid>.mdl-cell {
  border-right: 1px solid rgb(0 0 0 / 12%);
  border-bottom: 1px solid rgb(0 0 0 / 12%);
  padding: 8px;
}

.project-details-grid-file {
  cursor: pointer;
}

.project-details-grid-file:hover {
  background-color: rgb(243, 243, 243);
}

.project-details-footer {
  padding: 5px;
}